@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #7C3AED;
    --dark-gray-color: #6B7280;
    --off-white-color: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin: 2rem 0rem;
}
.container{
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 1rem  0rem;
}

.container-center{
    max-width: 700px;
    margin: auto;
}

/* LINKS */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin: 1rem; */
}
.link-primary{
     background-color: var(--primary-color);
     color: white;
     border-radius: 0.5rem;

}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    
    .link{
        color: white;
    }
}
.navigation ul{
    text-align: right;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: x-large;
}
.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem ;
}
.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    /* font-size: xx-large; */
    /* margin: auto; */
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray-color);
}
.hero .hero-heading-main{
    color: var(--primary-color);
}

/* section */

section{
    padding: 2rem 1rem;
}

section h2 , section h3 , section h1 {
    text-align: center;
    /* padding: 2rem 0rem; */
}
.ow{
    background-color: var(--off-white-color);
}

/* footers */

.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}